.datepicker * {
    font-family: "Verdana";
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: center;
    color: #fff;
}

.date, .time {
    margin: auto
}

.datepicker .plus td {
    -webkit-border-radius: 10px 10px 0 0;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #ccc,  #999);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(100%,#999));
}

.datepicker .minus td {
    -webkit-border-radius: 0 0 10px 10px;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #999, #ccc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999), color-stop(100%,#ccc));

}

.datepicker td {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    overflow: hidden;
    color: #000;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #999, #8c8c8c, #858585, #8c8c8c, #999);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999), color-stop(20%,#8c8c8c), color-stop(40%,#858585), color-stop(60%,#8c8c8c), color-stop(80%,#999));

}

.datepicker input {
    width: 100%;
    height: 100%;
    background: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    border: inherit;
}

.datepicker .plus td, .datepicker .minus td {
    height: 45px;
}

.datepicker table {
    height: 100px;
    margin: auto;
}

.datepicker {
    text-align: center;
    margin: auto;
    background-image: -webkit-linear-gradient(top, #777, #555);
    background-image: -webkit-gradient(linear, left top, left bottom, #777, #555);
    -webkit-border-radius: 15px;
    border: solid 2px #636363;
}
.button {
    min-width: 100px;
}