* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    background: #828282;
    background: -webkit-linear-gradient(left, #444, #555, #555, #444);
    margin: 0;
    font: 18px Helvetica;
    text-align: center;
    color: #ffe;
}

#title_bar {
    /* need a position set to something for z-index to take effect */
    position: relative;
    z-index: 1;
    background: #7d7d7d;
    background: -webkit-linear-gradient(top, #999, #555, #555);

    text-shadow: 0 1px 0 #4e8fcf;
    border-bottom: 1px solid #999;
    height: 44px;
    line-height: 44px;
    padding: 0;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.button {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 3px 4px 4px #999;
    background: #ccc;
    border-radius: 10px;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    height: 48px;
    line-height: 48px;
    margin: 2px;
    padding: 10px;
    text-align: center;
    text-shadow: 0 -1px 6px #7E4B10;
}

.button.pressed {
    margin: 3px 0 0 4px;
    -webkit-box-shadow: 1px 1px 1px #222;
    background: #555;
    border-color:#777;
}

.app_button {
    width: 96px;
}

.nav_button {

    width: 48px;
}
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#back_button {
    background: grey;
}

table {
    width: 100%;
}

.view {
    padding: 20px;
    /*  only one view is displayed at a time
         so we'll set the views to default to be un-displayed
         and then override this based on the element id */
    display: none;
}

/* our three views */
#home {
    display: block;
}
.hidden {
    display: none;
}